Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.opensdf
ipch/

*.filters
testTranslator/ui_dialog.h
testTranslator/ui_dialogtranslator.h
testTranslator/ui_mainwindow.h
*.qm
testWidgets/GeneratedFiles/qrc_testwidgets.cpp
testWidgets/GeneratedFiles/ui_testwidgets.h
DynamicLibrary/testLoadTime/testLoadTime.plg
DynamicLibrary/testRunTime/testRunTime.plg
DynamicLibrary.rar
DynamicLibrary/library1/library1.plg
DynamicLibrary/library2/library2.plg
DynamicLibrary/library2/ReadMe.txt
DynamicLibrary/library3/library3.plg
DynamicLibrary/test/test.opt
DynamicLibrary/test/test.plg
testQT/console/dialog/GeneratedFiles/qrc_dialog.cpp
testQT/console/dialog/GeneratedFiles/ui_dialog.h
testQT/console/mainwindow/GeneratedFiles/qrc_mainwindow.cpp
testQT/console/mainwindow/GeneratedFiles/ui_mainwindow.h
LearnQT/console/dialog/GeneratedFiles/qrc_dialog.cpp
LearnQT/console/dialog/GeneratedFiles/ui_dialog.h
LearnQT/console/mainwindow/GeneratedFiles/qrc_mainwindow.cpp
LearnQT/console/mainwindow/GeneratedFiles/ui_mainwindow.h
LearnQT/testWidgets/GeneratedFiles/qrc_testwidgets.cpp
LearnQT/testWidgets/GeneratedFiles/ui_testwidgets.h