Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.opensdf
ipch/

*.filters
testTranslator/ui_dialog.h
testTranslator/ui_dialogtranslator.h
testTranslator/ui_mainwindow.h
*.qm
testWidgets/GeneratedFiles/qrc_testwidgets.cpp
testWidgets/GeneratedFiles/ui_testwidgets.h